<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Temas</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos-alumno.css" media="screen" title="no title">
  <script src="js/jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class='navbar-brand'>Campus Overflow</a>

        <ul class="nav navbar-nav">
          <li><a href="#">Preguntas</a></li>
          <li><a href="#">Etiquetas</a></li>
        </ul>
      </div>


      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Juanito Perez</p></li>
        <a href="#" class="navbar-brand navbar-right" data-toggle="dropdown">
          <img src="img/icono.png" class="img-circle navbar-right img-alumno" alt="">
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Cerrar sesión</a></li>
        </ul>
      </ul>


    </div>
  </nav> <!--Fin del navbar-->

  <div class="container">
    <div class="row">
      <div class="coml-md-12">
        <h3 class="page-header">Nombre del tema</h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item well">
          <div class="row">
            <div class="col-md-9">
              <h3>#id - Nombre de la pregunta</h3>
              <p>Descripcion breve de la pregunta</p>
              <p>Fecha de publicacion: dd/mm/yyyy</p>
            </div>
            <div class="col-md-3">
              <h3>Relevancia: 4</h3>
            </div>
          </div>
        </li> <!-- fin de una seccion de pregunta -->

        <li class="list-group-item well">
          <div class="row">
            <div class="col-md-9">
              <h3>#id - Nombre de la pregunta</h3>
              <p>Descripcion breve de la pregunta</p>
              <p>Fecha de publicacion: dd/mm/yyyy</p>
            </div>
            <div class="col-md-3">
              <h3>Relevancia: 4</h3>
            </div>
          </div>
        </li> <!-- fin de una seccion de pregunta -->
      </ul> <!-- fin de la lista de preguntas -->
    </div>
  </div>

  <script src="js/bootstrap.js" charset="utf-8"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
