<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro Maestro</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilos.alumno.css">
  <script src="../js/jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row text-center">
      <h1>Campus Overflow</h1>
      <p class="lead">Registro Maestros</p>
    </div>
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 well well-lg">
          <form>
            <div class="form-group">
              <label for="nombre-prof">Ingrese su nombre completo</label>
              <input type="text" class="form-control" id="nombre-prof" placeholder="Nombre">
            </div>

            <div class="form-group">
              <label for="matricula-prof">Ingrese su matricula</label>
              <input type="text" class="form-control" id="matricula-prof" placeholder="Matricula">
            </div>

            <div class="form-group">
              <label for="contraseña-prof">Escriba su contraseña</label>
              <input type="password" class="form-control" id="contraseña-prof" placeholder="Contraseña">
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-primary" id="registrar">Registrarse</button>
              <p>¿Ya tienes cuenta? <a href="login-maestros.html">Inicia Sesión</a></p>
              <p>¿Eres un alumno? Inica sesión <a href="../alumno/login-alumnos.html">aquí</a></p>
            </div>


          </form>


        </div>

        <div class="col-md-3"></div>
      </div>
    </div>

    <script src="../js/registro-prof.js" charset="utf-8"></script>
</body>
</html>
